// Constants
.c-flex {
  display: flex;
  &--jc {
    &_c {
      justify-content: center;
    }
  }
  &--ai {
    &_c {
      align-items: center;
    }
  }
}

.c-text-center {
  text-align: center;
}
// Constants (END)
