// Preamble tiles
.preamble-tiles {
  margin-top: 40px;
  position: relative;
  &__item {
    margin-bottom: $gutter;
    padding-bottom: 86%;
    position: relative;
    &:before {
      content: "";
      border: 3px solid get-color("white");
      position: absolute;
      top: 6px;
      right: 6px;
      bottom: 6px;
      left: 6px;
    }
  }
  &__phrase {
    width: 280px;
    height: 280px;
    padding-top: 94px;
    background: url("../images/sprite.png") no-repeat -2px -122px;
    color: get-color("paleGold");
    line-height: to-rem(36);
    font-family: unquote(get-font("emphasis"));
    font-size: to-rem(30);
    text-align: center;
    text-transform: uppercase;
    @include center-block();
  }
}

@media (min-width: #{get-screen("sm")}) {
  .preamble-tiles {
    &__item {
      height: 250px;
      padding-bottom: 0;
      &:before {
        border-width: 6px;
      }
    }
  }
}
@media (min-width: #{get-screen("md")}) {
  .preamble-tiles {
    margin-top: 20px;
  }
}
// Preamble tiles (END)
