// Preamble
.preamble {
  padding-top: 80px;
  padding-bottom: 50px;
  background-image: url("../images/preamble-texture.jpg");
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(-135deg, rgba(196,185,174,0.2) 0%, rgba(255,255,255,0.2) 100%);
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: "";
    width: 100%;
    height: 10px;
    background-color: get-color("white");
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0px 8px 9px rgba(0,0,0,0.02);
  }
  &__content {
    text-align: center;
    position: relative;
  }
  &__descr {
    margin: 0 auto;
    max-width: 500px;
    padding: 60px 0 30px;
    line-height: (24 / 14);
    font-size: get-font-size("small");
    letter-spacing: 1px;
  }
}

@media (min-width: #{get-screen("md")}) {
  .preamble {
    padding-top: 100px;
    padding-bottom: 70px;
  }
}
// Preamble (END)
